################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/P7CreateRestApi/.vs
/P7CreateTestApi.Test/bin/Debug/net6.0
/P7CreateTestApi.Test/obj/Debug/net6.0/ref
/P7CreateTestApi.Test/obj/Debug/net6.0/refint
